.board {
  width: 308px;
  height: 308px;
  display: flex;
  flex-wrap: wrap;
  gap: 2px;
}

.square {
  width: 100px;
  height: 100px;
  background-color: aquamarine;
  font-size: 50px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}